html,
body {
  min-width: 290px;
  color: #bfd6b7;
  font-family: "calibri", Arial, sans-serif;
  line-height: 1.5;
  background-color:#092f12;
  margin: 0;
  font-size: 20px;
}



#navbar {
  font-size: 0.9em;
  position: fixed;
  min-width: 200px;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 100%;
  background-color: rgb(16, 70, 13);
  border-right: 10px solid rgb(2, 27, 0);
  border-color: rgb(2, 27, 0);
}

.navbar:hover{
  background-color: #3b6437;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.navbar1{
  border-top: 3px solid #021b00;
}

.navbar2{
  border-top: 3px solid #021b00;
  border-bottom: 3px solid #021b00;
}

#navbar a, #navtable a{
  display: block;
  color: #bfd6b7;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
}

#navbar a{
  padding: 10px 30px;
}

#navtable{
  width: 100%;
  color: #bfd6b7;
  text-align: center;
  align-items: center;
  font-size: small;
  line-height: 2;
  text-decoration: none;
  cursor: pointer;
  
}

#navtable td{
  border: 2px solid #021b00;
  background-color: #184d24;
}

img.pikapicnic {
  position: fixed;
  min-width: 170px;
  bottom: 15px;
  left: 15px;
  width: 170px;
}

.mobiletop{
  display: block;
  position: center;
  margin-left: 0;
  margin-top: 15px;
  background-color: #3b6437;
  position: static;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}


.anniraid{
  max-height: 80%;
  width: 100%;
  position: relative;
  border: 3px solid #021b00;
}

.sixstar{
  max-height: 80%;
  width: 100%;
  position: relative;
  border: 3px solid #021b00;
}

.topbar {
  margin-left: 200px;
  text-align: center;
  font-size: 1.2em;
  position: static;
  line-height: .8;
  padding-bottom: 10px;
}

h1 {
  color: #bfd6b7;
  font-weight: normal;
  text-align: center;
  font-family: "bahnschrift";
  font-size: 2em;
  line-height: 1;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;

}

h3{
  padding-left: 10px;
  color: #bfd6b7;
  font-style: bold;
}


h2 {
  margin-right: initial;
  color: #bfd6b7;
  margin-left: -20px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #adadad;
  margin-top: -20px;
  margin-left: -20px;
  padding: 0;
  color: #bfd6b7;
}

hr.dividerclear {
  display: block;
  height: 1px;
  border: 0;
  padding: 0;
  margin-top: 40px;
}

#main-doc {
  position: relative;
  max-width: 100%;
  margin-left: 210px;
  border-radius: 5px;
  padding: 30px 90px;
}

.herba-sprite {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -20px;
}

section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
  margin-left: 20px;
}

#table3 {
  display: inline-block;
  width: 20%;
  color: black;
  text-align: center;
  margin-bottom: 40px;
  align-items: center;
  border: 0;
  align: left;
}

.table-container { 
  display: inline-block; 
  vertical-align: top; 
}

#table1, #table2 {
    width: 100%;
    color: black;
    text-align: center;
    background-color: #c3d5c0;
    margin-bottom: 40px;
    align-items: center;
}

#table1{
  border: 4px solid black;
}

#table2{
  border: 3px solid black;
  font-size: x-small;
}


.cap1, .cap2, .cap3, .cap4, .cap5, .cap6, .cap7 {
    border: 4px solid black;
    border-bottom: 0;
    font-size: 1.2em;
}

.cip1, .cip2, .cip3, .cip4, .cip5, .cip6, .cip7{
    border: 3px solid black;
    border-bottom: 0;
    font-size: 1.5em;
}

.cap1, .cip1{
  color: #131300;
  background-color: #cd7f32;
}

.cap2, .cip2{
  color: #131300;
  background-color: #768c9d;
}

.cap3, .cip3{
  color: #131300;
  background-color: #dfc42a;
}

.cap4, .cip4{
  color: #131300;
  background-color: #ddf5f8;
}

.cap5, .cip5{
  color: #131300;
  background-color: #557522;
}

.cap6, .cip6{
  color: #131300;
  background-color: #ddc3d5;
}

.cap7, .cip7{
  color: #131300;
  background-color: #9c2b2b;
}

.rowbox{
    border: 4px solid black;
    border-bottom: 0;
    height: 10px; 
}

.pokesprite3 .pokes {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: center;
    width: 100%;
    max-height: 100%;
}

.pokesprite {  
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    width: 100%;
    }

.credit-name{
  font-size: .8;
  color: rgb(182, 182, 182);
}



section li {
  margin: 15px 0px 0px 20px;
}


p {
  text-align: justify;
}

a:link {
  color:white;
}

a:visited{
  color: white;
}

a:hover {
  color: #3b6437;

}

table#typing {
  width: 100%;
  margin-bottom: 10px;
  border: 0;
  display: inline-block;
  border-spacing: 0;
}

table#typing2 {
  width: 100%;
  margin-bottom: 0;
  border: 0;
  display: inline-block;
  border-spacing: 0;
}


.typebub2, .typebub3{
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: center;
}

.typebub2{
  padding-top: 5px;
  padding-bottom: 5px;
}

.typebub3{
  padding: 5px;
  padding-bottom: 5px;
}

.steelhead, .waterhead, .normalhead, .poisonhead, .psychichead, .rockhead, .ghosthead, .grasshead, .groundhead, .icehead, .bughead, .darkhead, .dragonhead, .electrichead, .fairyhead, .fightinghead, .firehead, .flyinghead{
  text-align: center;
  background-color: #c3d5c0;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  line-height: 0;
}

.midspacer {
  background-color: #c3d5c0;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}


.matchup{
  background-color: #8f860b;
  color: black;
  border-radius: 5px;
  font-size: large;
  text-align: center;
  border: 3px solid black;
}


.goodmatch1{
  background-color: #3b6437;
  text-align: center;
  font-size: large;
  text-align: center;
  border-radius: 5px;
  border: 3px solid black;
}

.goodmatch2{
  text-align: right;
  background-color: #c3d5c0;
  border-radius: 5px 0px 0px 5px;
  padding: 0;
  line-height: 0;
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.goodmatch3{
  text-align: right;
  background-color: #c3d5c0;
  border-radius: 5px 0px 0px 5px;
  padding: 0;
  line-height: 0;
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.badmatch1{
  background-color: #7a2d2d;
  text-align: center;
  font-size: large;
  text-align: center;
  border-radius: 5px;
  border: 3px solid black;
}

.badmatch2{
  text-align: left;
  background-color: #c3d5c0;
  border-radius: 0px 5px 5px 0px;
  padding: 0;
  line-height: 0;
  border-right: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.badmatch3{
  text-align: left;
  background-color: #c3d5c0;
  border-radius: 0px 5px 5px 0px;
  padding: 0;
  line-height: 0;
  border-right: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.sammy {
  margin-top: 5%;
  display: block;
  position: relative;
  margin-left: 200px;
  margin-bottom: 5%;
}

figcaption {
  display: block;
  position: relative;
  font-size: smaller;
  margin-left: 20px;
}

table.herba{
  width: 100%;
  border-spacing: 15px;
  border-radius: 15px;
  border-spacing: 5px;
}

.herbam {
padding: 10px;
line-height: 1;
text-align: center;
border-radius: 30px;
padding-top: 20px;
}



@media screen and (max-width: 480px) {
  /* For mobile phones: */
  #navbar ul {
    height: 100%;
  }

  #navbar {
    background-color: #184d24;
    color: #b5ecaf;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 39%;
    border: none;
    z-index: 1;
  }

  .mobileonly{
    display: relative;
  }

  header.mobileonly{
    line-height: 0;
    margin-bottom: 10px;
  }

  .topbarmobile {
    margin-left: 0;
    position: static;
    line-height: .8;
    padding-bottom: 10px;
  }

  h1.mobileh{
    color: #bfd6b7;
    font-weight: normal;
    text-align: center;
    font-size: 2em;
    margin-top: 10px;
    border-radius: 5px;
    margin: 5px;
  }

  img.anniraid{
    display: inline-block;
    max-height: 80%;
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgb(110, 110, 110);
    border-top: 1px solid #858585;
  }

  #main-mobile {
    position: relative;
    max-width: 100%;
    margin-top: 0px;
    margin-left: 3%;
    margin-right: 1%;
    padding: 20px 30px;
  }

  .table1, .table2{
    font-size: 0;
  }

  .typebub2 {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: center;
    max-height: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    padding-bottom: 0;
  }

  .badmatch1, .badmatch2, .goodmatch1, .goodmatch2 {
    padding-top: 0;
    padding-bottom: 5px;
  }

  .nomobile {
    display:none;
  }
}


@media screen and (min-width: 480px) {
  .nomobile{
    display: relative;
  }
  
  .mobileonly{ 
    display: none;
  }

  
}